body{
    background: rgb(136, 126, 202);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
    margin: auto;
    width: 50%
}
img{
    border: 15px solid #ddd
}
dt{
    color: #f0d381
}
dd{
    color: green
}
ol{
    list-style-type: square;
}
ul{
    list-style-type: square;
}
h1{
    font-family: times new romen;
}
h2{
    font-family: times new romen;
}
p{
    font-family: times new roman;
}