body {
    background-color: rgb(192, 125, 203);
    font-family: 'Times New Roman', Times, serif;
}

iframe {
    width: 90%;
    height: 500px;
    border: none;
    overflow: hidden;
    margin: 0px auto;
    display: block;
}

h1 {
    text-align: center;
    color: rgb(42, 41, 41);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: rgb(42, 41, 41);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 10px;
}